/Documents/NetBeansProjects/FeesManagementSystem/target/
/OneDrive/Documents/NetBeansProjects/Fees_Management_System/target/
/OneDrive/Videos/Documents/NetBeansProjects/SpendingTracker4/target/
/OneDrive/Videos/Documents/NetBeansProjects/MyProgram/target/
/OneDrive/Videos/Documents/NetBeansProjects/Sports/nbproject/private/
/OneDrive/Videos/Documents/NetBeansProjects/Sports/build/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenceTracker/nbproject/private/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenceTracker/build/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenceTracker/dist/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenseTracker/nbproject/private/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenseTracker/build/
/OneDrive/Videos/Documents/NetBeansProjects/ExpenseTracker/dist/
